body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: skyblue;
    position: relative; /* Set body as relative positioning for absolute positioning */
}

#board {
    /* background-color: skyblue; */
    background-image: url("flappybirdbg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

button {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#quitButton {
    left: 20px; /* Position the quit button on the left */
    background-color: #f44336;
    color: white;
}

#quitButton:hover {
    background-color: #d32f2f;
}

#startButton {
    right: 20px; /* Position the start button on the right */
    background-color: #4CAF50;
    color: white;
}

#startButton:hover {
    background-color: #45a049;
}

#countdown {
    font-size: 48px;
    color: white;
    margin-top: 100px;
}
@media (min-width: 768px) {
    button {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    button {
        font-size: 24px;
    }
}
#restartText {
    display: none; /* Hide the text initially */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px; /* Adjust the font size as needed */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
}

#highScore {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
}